.about-master {
  padding-top: 50px;
  padding-bottom: 50px;
  //TODO проверить паддинги (для блока 150 (75) во всех блоках для мобильной версии и выставить одинаковые во всем шаблоне

  @media (min-width: 800px) {
    padding: 0;
  }

  @media (min-width: 1200px) {
    margin-left: 45px;
    margin-right: 45px;
  }

  &__wrp {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    align-items: center;


    @media (min-width: 800px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__txt-wrp {
    display: flex;
    flex-direction: column;
    position: relative;

    @media (min-width: 1200px) {
      padding-top: 130px;
    }

    @media (min-width: 1500px) {
      position: static;
    }
  }

  &__txt-item {
    display: none;
    flex-direction: column;
    flex: 1;

    @media (min-width: 800px) {
      padding-right: 100px;
    }

    @media (min-width: 1200px) {
      padding-right: 240px;
      padding-bottom: 140px;
    }

    &--active {
      display: flex;
    }
  }

  &__number {
    font-family: 'Prata', serif;
    letter-spacing: 0.1em;
    font-size: 40px;
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 20px;
    padding-top: 7px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    margin-right: auto;
  }

  &__number-label {
    writing-mode: vertical-rl;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;
  }

  &__title {
    font-family: 'Prata', serif;
    letter-spacing: 0.1em;
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    color: @main-color;
    margin-bottom: 10px;
  }

  &__txt {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #989898;
    margin-bottom: 30px;
  }

  &__name {
    font-family: 'Prata', serif;
    font-size: 12px;
    text-transform: uppercase;
    color: @main-color;
    letter-spacing: 0.1em;
  }

  &__slider-wrp {
    width: 100%;
    max-width: 375px;
  }
  
  &__slider-item {
    background-color: #fff;
    padding: 15px 15px 25px 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    opacity: 0.6;
    transition: opacity ease-in-out 0.5s;
  }

  .slick-active {

    .about-master__slider-item {
      opacity: 1;
    }
  }

  &__slider-img {
    margin-bottom: 25px;
    width: 100%;
    height: auto;
  }
  
  &__slider-title {
    display: block;
    font-family: 'Prata', serif;
    font-size: 12px;
    text-transform: uppercase;
    color: @main-color;
    letter-spacing: 0.1em;
    text-align: center;
  }

  &__arrow--left {
    position: absolute;
    top: 0;
    right: 150px;

    @media (min-width: 1200px) {
      top: 130px;
    }

    @media (min-width: 1500px) {
      bottom: auto;
      top: 50%;
      left: auto;
      transform: translateY(-50%);
      right: calc(100% + 50px);
    }
  }

  &__arrow--right {
    position: absolute;
    top: 0;
    right: 50px;

    @media (min-width: 1200px) {
      top: 130px;
    }

    @media (min-width: 1500px) {
      bottom: auto;
      right: auto;
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% + 50px);
    }
  }
  
  &__slider-counter {
    position: absolute;
    top: 12px;
    right: 107px;
    color: #fff;
    font-family: 'Prata', serif;
    font-size: 16px;
    letter-spacing: 0.1em;

    @media (min-width: 1200px) {
      top: 142px;
    }

    @media (min-width: 1500px) {
      top: 680px;
      left: calc(100% + 50px);
    }
  }

  &__slider-current {
    color: @main-color;
  }

  &__social {
    margin-top: 50px;
  }

  &__social-link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    margin-right: 30px;
    transition: all ease-in-out 200ms;

    &:hover {
      color: @main-color;
    }
  }

  
}