.animation {

  &__parallax {
    background-repeat: no-repeat;
    background-position: center 0 !important;
    background-attachment: scroll !important;
    background-size: cover;

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      background-position: 0 0 !important;
      background-attachment: scroll !important;
    }
  }

  &__fade-in-up {
    opacity: 0;
  }

}