.btn {
  display: inline-block;
  background-color: @main-color;
  color: #fff;
  font-family: 'Prata', serif;
  font-size: 12px;
  line-height: 46px;
  padding-left: 35px;
  padding-right: 35px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all ease-in-out 300ms;
  position: relative;
  overflow: hidden;

  &:hover {


    &:after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
  }
}