.events {
  background-image: url(../img/events-bg.png);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 15px;
  padding-right: 15px;

  &__grid {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 1500px) {
      grid-template-columns: 45px minmax(0, 1fr) minmax(0, 568px) minmax(0, 568px) minmax(0, 1fr) 45px;
    }
  }

  &__front-bg {
    width: 100%;
    height: auto;
    background-image: url(../img/events-bg-front.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 1/3;
    grid-column: 1/2;

    @media (min-width: 1500px) {
      grid-row: 1/4;
      grid-column: 2/5;
    }
  }

  &__info-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 30px;
    grid-row: 1/2;
    grid-column: 1/2;

    @media (min-width: 1500px) {
      padding-right: 100px;
      padding-top: 180px;
      padding-bottom: 210px;
      grid-row: 1/4;
      grid-column: 3/4;
    }
  }

  &__info-right {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    grid-row: 2/3;
    grid-column: 1/2;

    @media (min-width: 1500px) {
      grid-row: 2/3;
      grid-column: 4/6;
    }
  }

  &__title {
    color: @main-color;
    font-family: 'Prata', serif;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 20px;
  }

  &__dscr {
    color: #fff;
    margin-bottom: 40px;

    @media (min-width: 1500px) {
      margin-bottom: 120px;
    }
  }

  &__date {
    color: #fff;
    font-family: 'Prata', serif;
    line-height: 1;
    font-size: 12px;
    margin-bottom: 18px;
  }

  &__event-type {
    color: #fff;
    font-family: 'Prata', serif;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  &__event-title {
    color: #fff;
    font-family: 'Prata', serif;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__tag-wrp {
    margin-bottom: 30px;

    @media (min-width: 1500px) {
      margin-bottom: 50px;
    }
  }

  &__tag-item {
    color: #fff;
    font-family: 'Prata', serif;
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    padding-right: 32px;

    &::after {
      content: "\\";
      position: absolute;
      display: block;
      line-height: 1;
      top: -2px;
      right: 10px;
      color: @main-color;
      font-size: 18px;
      font-weight: 600;
    }
  }

  &__event-img {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  &__link {
    font-family: 'Prata', serif;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: underline;
    text-decoration-style: dotted;
    transition: all ease-in-out 300ms;
    margin-right: 15px;

    @media (min-width: 1500px) {
      margin-right: 35px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: @main-color;
    }
  }
}