.gallery-feat {
  position: relative;

  @media (min-width: 1200px) {
    padding-left: 220px;
    padding-right: 450px;
  }

  &__wrp {
    display: none;

    &--active {
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #f6f7f5;
    min-height: 780px;
    padding-bottom: 100px;

    @media (min-width: 1200px) {
      padding: 190px 250px 210px;
    }

    &::after {
      display: none;
      content: "";
      position: absolute;
      width: 1px;
      height: calc(100% + 110px);
      background-color: @main-color;
      top: 0;
      right: 110px;

      @media (min-width: 1200px) {
        display: block;
      }
    }
  }
  
  &__title {
    color: @main-color;
    font-family: 'Prata', serif;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.1em;

    @media (min-width: 1200px) {
      font-size: 34px;
      line-height: 40px;
    }

  }

  &__title-link {
    text-decoration: none;
    color: @main-color;
    margin-bottom: 30px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
  
  &__social {
    margin-bottom: 45px;
  }
  
  &__txt {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #989898;
    letter-spacing: 0.1em;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    transition: transform 0.5s;

    @media (min-width: 1200px) {
      position: absolute;
      left: 0;
      top: 100px;
      width: 400px;
      height: 570px;
    }

    &--next {
      display: none;

      @media (min-width: 1200px) {
        display: block;
        left: auto;
        right: 0;
      }

    }
  }

  &__img-link {
    width: 100%;
    height: auto;
    max-height: 600px;
    overflow: hidden;
    background-color: @main-color;
    margin-bottom: 100px;

    &:hover {

      .gallery-feat__img {
        transform: scale(1.02);
      }
    }
  }

  &__arrow--left {
    position: absolute;
    top: 620px;
    left: 50px;

    @media (min-width: 1200px) {
      left: 100px;
      top: 700px;
    }
  }

  &__arrow--right {
    position: absolute;
    top: 620px;
    right: 50px;

    @media (min-width: 1200px) {
      right: 350px;
      top: 700px;
    }
  }

}