.gallery-feat {
  padding-left: 220px;
  padding-right: 450px;
  position: relative;

  &__wrp {
    display: none;

    &--active {
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 190px 250px 210px;
    background-color: #f6f7f5;
    min-height: 780px;

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: calc(100% + 110px);
      background-color: @main-color;
      top: 0;
      right: 110px;
    }
  }
  
  &__title {
    color: @main-color;
    font-family: 'Prata', serif;
    text-transform: uppercase;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.1em;
  }

  &__title-link {
    text-decoration: none;
    color: @main-color;
    margin-bottom: 30px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
  
  &__social-wrp {
    margin-bottom: 45px;
  }
  
  &__social {
    color: @main-color;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.1em;
    text-decoration: none;
    margin-right: 25px;

    &:hover {

      &::before {
        transform: translateX(0px);
        opacity: 1;
      }
      &::after {
        transform: translateX(0px);
        opacity: 1;
      }
    }

    &::before {
      display: inline-block;
      opacity: 0;
      transition: transform 0.3s, opacity 0.2s;
      margin-right: 10px;
      content: '[';
      transform: translateX(20px);
    }

    &::after {
      display: inline-block;
      opacity: 0;
      transition: transform 0.3s, opacity 0.2s;
      margin-left: 10px;
      content: ']';
      transform: translateX(-20px);
    }


    &:last-child {
      margin-right: 0;
    }
  }
  
  &__txt {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #989898;
    letter-spacing: 0.1em;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    width: 400px;
    height: 570px;
    position: absolute;
    left: 0;
    top: 100px;
    transition: transform 0.5s;

    &--next {
      left: auto;
      right: 0;
    }
  }

  &__img-link {
    background-color: @main-color;

    &:hover {

      .gallery-feat__img {
        transform: scale(1.02);
      }
    }
  }

  &__left,
  &__right {
    position: absolute;
    color: @main-color;
    font-size: 32px;
    line-height: 1;
    background-color: rgba(152,115,85,0);
    width: 46px;
    height: 46px;
    transition: background 0.2s, color 0.2s;
    cursor: pointer;
    border-radius: 50%;

    &::after {
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      content: '';
      box-sizing: content-box;
      top: -5px;
      left: -5px;
      padding: 5px;
      box-shadow: 0 0 0 2px @main-color;
      transition: transform 0.5s, opacity 0.5s;
      transform: scale(0.8);
      opacity: 0;
    }

    &:hover {
      background-color: rgba(152,115,85,1);
      color: #fff;

      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  &__left {
    left: 100px;
    top: 700px;

    i {
      position: absolute;
      top: 6px;
      left: 15px;
      z-index: 30;
    }
  }

  &__right {
    right: 350px;
    top: 700px;

    i {
      position: absolute;
      top: 6px;
      right: 15px;
      z-index: 30;
    }
  }
}