.gallery-arch {
  padding-top: 180px;
  padding-bottom: 240px;

  &__gallery-feat {
    margin-bottom: 210px;
    margin-left: 45px;
    margin-right: 45px;
  }

  &__gallery {
    margin-left: 45px;
    margin-right: 45px;
  }
}