.gallery-single {
  padding-top: 75px;
  padding-bottom: 75px;

  @media (min-width: 700px) {
    padding-top: 180px;
    padding-bottom: 200px;
  }

  &__slider-img {
    transform-origin: top;
    transition: all ease-in-out 0.8s;

    @media (min-width: 1200px) {
      transform: scale(0.5);
    }
  }

  .slick-slide {
    opacity: 0.5;
    transition: opacity 0.8s;
    outline: none;
    position: relative;
    cursor: pointer;

    @media (min-width: 1200px) {
      height: 650px;
    }
  }

  .slick-slide div {
    width: 100%;
    height: auto;
    transition: all ease-in-out 0.3s;

    @media (min-width: 1200px) {
      height: 100%;
      transform: translateY(50%);
    }
  }
  .slick-center div {
    transition: all ease-in-out 0.3s;
    transform: translateY(0);
  }

  .slick-center {
    opacity: 1;
    z-index: 2000;

    .gallery-single__slider-img {

      cursor: grab;

      @media (min-width: 1200px) {
        transform-origin: top;
        transform: scale(1.7);
        margin-top: 0;
      }
    }
  }

  &__slider-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 0px;

    @media (min-width: 700px) {
      margin-bottom: 40px;
    }
  }

  &__slider-counter {
    letter-spacing: 0.1em;
    color: #101520;
    font-size: 16px;
  }

  &__slider-left,
  &__slider-right {
    color: #987355;
    font-size: 44px;
    line-height: 1;
    transition: all ease-in-out 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__txt-wrp {
    padding-top: 40px;
    padding-bottom: 50px;
    border-top: 1px solid @main-color;

    @media (min-width: 700px) {
      padding-top: 70px;
      padding-bottom: 90px;
    }
  }

  &__title {
    letter-spacing: 0.1em;
    color: #101520;
    font-size: 25px;
    line-height: 38px;
    text-transform: uppercase;
    margin-bottom: 35px;

    @media (min-width: 700px) {
      font-size: 32px;
      line-height: 46px;
    }
  }

  &__txt {
    font-size: 14px;
    line-height: 24px;
    color: #989898;
    letter-spacing: 0.1em;
    margin-bottom: 25px;

    @media (min-width: 700px) {
      font-size: 16px;
    }
  }

  &__pagination {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: #f6f7f5;
    margin-left: 15px;
    margin-right: 15px;

    @media (min-width: 1200px) {
      margin-left: 45px;
      margin-right: 45px;
      grid-template-rows: 1fr;
    }
  }

  &__pagination-left-wrp,
  &__pagination-center-wrp,
  &__pagination-right-wrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__pagination-left-wrp {
    grid-column: 1/3;
    grid-row: 1/2;

    @media (min-width: 1200px) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }

  &__pagination-right-wrp {
    grid-column: 3/5;
    grid-row: 1/2;

    @media (min-width: 1200px) {
      grid-column: 4/5;
      grid-row: 1/2;
    }
  }

  &__pagination-center-wrp {
    grid-column: 1/5;
    grid-row: 2/3;

    @media (min-width: 1200px) {
      grid-column: 2/4;
      grid-row: 1/2;
    }
  }

  &__pagination-txt {
    letter-spacing: 0.1em;
    color: #101520;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 40px;
  }

  &__pagination-img {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;

    @media (min-width: 700px) {
      width: 305px;
      height: 305px;
    }
  }

  &__pagination-title {
    display: block;
    text-align: center;
    max-width: 600px;
    letter-spacing: 0.1em;
    color: #101520;
    font-size: 22px;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 50px;

    @media (min-width: 700px) {
      font-size: 30px;
      line-height: 46px;
      margin-bottom: 90px;
    }
  }

  &__pagination-link {
    letter-spacing: 0.1em;
    color: @main-color;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
  }

}
