.home-blog {
    padding-top: 75px;
    padding-bottom: 75px;

    @media (min-width: 700px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @media (min-width: 1200px) {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 160px;
        grid-template-rows: 1fr 1fr;
        background-color: #151524;

        @media (min-width: 600px) {
            grid-template-columns: 1fr 80px 80px 1.5fr;
            grid-template-rows: 25px 1fr 25px;

        }
    }

    &__center-wrp {
        z-index: 10;
        background-color: #23202c;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 4px solid #474656;
        padding: 14px;
        grid-column: 2/3;
        grid-row: 1/2;

        @media (min-width: 600px) {
            grid-column: 2/4;
            grid-row: 2/3;
        }
    }

    &__center-img {
        max-width: 126px;
        width: auto;
        height: auto;
        margin-bottom: 3px;
        cursor: pointer;
        transition: all ease-in-out 400ms;

        &:hover {
            opacity: 0.7;
            transform: scale(1.05, 1.05);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__left-wrp {
        grid-column: 1/2;
        grid-row: 1/2;

        @media (min-width: 600px) {
            grid-column: 1/3;
            grid-row: 1/4;
        }
    }


    &__right-wrp {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #151524;
        padding-left: 20px;
        padding-right: 20px;
        grid-column: 1/3;
        grid-row: 2/3;
        display: none;

        @media (min-width: 600px) {
            grid-column: 3/5;
            grid-row: 1/4;
            padding-left: 100px;
        }

        &--active {
            display: flex;
        }
    }

    &__right-title {
        color: @main-color;
        font-family: 'Prata', serif;
        text-transform: uppercase;
        font-size: 22px;
        line-height: 1.4;
        max-width: 290px;
        text-align: center;
        margin-bottom: 30px;
    }

    &__right-txt {
        max-width: 400px;
        color: #fff;
        text-align: center;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__left-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: none;

        &--active {
            display: block;
        }
    }
}