body {
  text-align: left;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

@import '_variables.less';
@import '_wrapper.less';
@import '_header.less';
@import '_home-banner.less';
@import '_main-menu.less';
@import '_mobile-menu.less';
@import '_founder.less';
@import '_section.less';
@import '_price.less';
