body {
    text-align: left;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: #101520;
}

@import '_variables';
@import '_loader';
@import '_wrapper';
@import '_animation';
@import '_jarallax';
@import '_btn';
@import '_header';
@import '_home-banner';
@import '_main-menu';
@import '_mobile-menu';
@import '_founder';
@import '_section';
@import '_price';
@import '_history';
@import '_home-gallery';
@import '_home-blog';
@import '_events';
@import '_media';
@import '_main-banner';
@import '_about-founder';
@import '_about-master';
@import '_review';
@import '_newsletter';
@import '_services';
@import '_opening';
@import '_contact-form';
@import '_blog-event';
@import '_blog';


@import '_footer';
