.opening {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 75px;

  @media (min-width: 700px) {
    padding-top: 120px;
    padding-bottom: 100px;
  }
  @media (min-width: 1200px) {
    flex-direction: row;
    padding-top: 180px;
    padding-bottom: 150px;
  }


  &__left-wrp {
    border: 1px solid @main-color;
    padding: 18px;
    background-image: url(../img/contact-opening-bg.png);
    background-position: 70% center;
    background-repeat: no-repeat;
    background-size: auto 60%;

    @media (min-width: 1200px) {
      min-width: 415px;
    }
  }

  &__right-wrp {
    padding: 45px 0 0 0;
    display: flex;
    flex-direction: column;

    @media (min-width: 1200px) {
      padding: 45px 0 50px 60px;
    }
  }

  &__items-wrp {
    border: 1px solid @main-color;
    padding: 50px 15px 50px 15px;

    @media (min-width: 700px) {
      padding: 70px 30px 70px 30px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-day {
    font-family: 'Prata', serif;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1;
  }

  &__item-time {
    font-family: 'Prata', serif;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 1;
  }

  &__item-divider {
    flex: 1;
    border-bottom: 1px solid rgba(16,21,32,0.2);
    display: block;
    margin-bottom: 4px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  &__title {
    font-family: 'Prata', serif;
    line-height: 1;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 25px;

    @media (min-width: 700px) {
      font-size: 32px;
    }
  }

  &__txt {
    font-size: 14px;
    color: #989898;
    line-height: 24px;
    letter-spacing: 0.1em;

    @media (min-width: 700px) {
      font-size: 16px;
    }
  }

  &__info-wrp {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 35px;
    margin-top: 40px;

    @media (min-width: 700px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1200px) {
      margin-top: auto;
    }
  }

  &__info-item {
    display: flex;
    align-items: center;
  }

  &__info-icon {
    font-size: 28px;
    color: @main-color;
    margin-right: 15px;
  }
}