.services {
  padding-top: 245px;
  padding-bottom: 210px;

  &__left-wrp {
    max-width: 565px;
    padding: 80px 40px 80px 40px;
    background-image: url(../img/services-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__right-wrp {

  }
}