.services {
  padding-top: 100px;
  padding-bottom: 100px;

  @media (min-width: 1200px) {
    padding-top: 245px;
    padding-bottom: 210px;
  }

  &__wrp {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 1200px) {
      flex-direction: row;
    }
  }

  &__left-wrp {
    background-image: url(../img/services-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;

    @media (min-width: 1200px) {
      max-width: 50%;
      padding: 80px 40px 80px 40px;
    }
  }

  &__right-wrp {
    position: relative;

    @media (min-width: 1200px) {
      max-width: 50%;
      padding-top: 300px;
      padding-left: 70px;
    }
  }
  
  &__title {
    font-family: 'Prata', serif;
    color: @main-color;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 0.1em;
    margin-bottom: 12px;
  }

  &__txt-wrp {

    @media (min-width: 1200px) {
      padding-right: 125px;
    }
  }
  
  &__txt {
    color: #fff;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 55px;
    }
  }

  &__left-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 28px;

    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  &__item-txt {
    color: #fff;
    letter-spacing: 0.1em;
    margin-left: 15px;
  }

  &__slider-wrp {

    @media (min-width: 1200px) {
      width: 690px;
      position: absolute;
      left: -115px;
      top: 20px;
    }
  }

  &__slider-item {
    padding: 20px 7px 20px 7px;
    transition: all ease-in-out 0.7s;
    transform: scale(0.85);
  }

  .slick-current {

    .services__slider-item {
      display: block;
      transform: scale(1.2);
    }
  }

  &__arrow-wrp {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
  }

  &__arrow--left {


    @media (min-width: 1200px) {
      display: none !important;
    }
  }

  &__arrow--right {
    cursor: pointer;

    @media (min-width: 1200px) {
      position: absolute;
      top: 240px;
      left: -80px;
    }
  }
  
  &__work-title {
    font-family: 'Prata', serif;
    font-size: 24px;
    letter-spacing: 0.1em;
    color: @main-color;
    text-transform: uppercase;
    margin-bottom: 40px;
    display: block;
  }

  &__work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-bottom: 100px;

    @media (min-width: 1200px) {
      grid-row-gap: 60px;
      grid-column-gap: 45px;
      margin-bottom: 0;
    }
  }

  &__work-item {
    display: flex;
    flex-direction: column;
  }

  &__work-number {
    font-family: 'Prata', serif;
    font-size: 24px;
    letter-spacing: 0.1em;
  }

  &__work-progress {
    width: 0%;
    height: 2px;
    background-color: @main-color;
    margin-bottom: 10px;
    transition: all ease-in-out 1s;
  }
}