block variables
- var var_title = 'Index page'
- var var_dscr = 'Description'

doctype html
html(lang='en')
  include _head.pug
  body
    header.header
      .header__topline
        .container
          p skdjskdcnksdjn22
    
    include _footer.pug
    script(src='js/main.js')
